.parent_div {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.form {
    margin-top: 20px;
}

.input_city {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.parent_div {
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title_div {
    background-color: #ffe15d;
    color: #730a0a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

